!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.iml
*.launch
*.log*
*.sublime-workspace
.angulardoc.json
.c9
.classpath
.DS_Store
.github
.idea
.ng_pkg_build
.project
.sass-cache
.settings
.tmp
.vscode/*
aws-scp-deploy.js
aws-scp-deploy.json
bin/
bower_components
components/**/*.js
components/**/*.map
connect.lock
coverage
demo-app
dist-server
dist*
e2e/**/*.js
e2e/**/*.map
edubase-frontend-components.csproj
edubase-frontend-components.csproj.user
edubase-frontend-components.sln
edubase-frontend-components.v12.suo
edubase_comp.pem
libpeerconnection.log
nbproject
node_modules
npm-debug.log
obj/
out-tsc
target
temp
testem.log
Thumbs.db
temp
tmp
typings
web.config
web.Debug.config
web.Release.config
